/*common start*/
body {
	font-family: sans-serif;
	font-size: 16px;
	font-weight:400 ;
	color: #102757;
}
/*common end*/
/*header start*/
header {
	padding: 30px 0;
	border-bottom: 3px solid lightgray;
}
.container {
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
}
.logo {
	float: left;
	width: 90px;
}
.logo img{
	width: 100%;
}
.menu {
	float: right;
	width: 55%;
}
.menu ul {
	float: right;
}
.menu ul li {
	list-style: none;
	float: left;
}
.menu ul li a {
	display: block;
	padding: 0px 22px;
	color: #102757;
	text-decoration: none;
	transition: .33s;
}
.menu ul li:last-child a {
	padding-right: 0;
}
.menu ul li a:hover {
	color: #008aff;
}
/*header end*/

/*banner start*/
.banner {
 padding: 60px 0;
}

.container2 {

	width: 50%;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}
.b_h1{
 font-size: 60px;
 font-weight: 700;
}
.b_h1 span {
  color:#008aff;
}
.b_p{
 line-height: 30px;
}
.b_img {
	margin: 0 auto;
	width: 70%;
   
}
.b_img img{
  width: 100%;
}
/*banner end*/

/*feature start*/
.feature {
}

.feature {
margin: 0 auto;
padding-bottom: 70px;
}

.f_left {
	width: 50%;
	float: left;
    text-align: right;

}
.f_left h2{
	font-size: 50px;
	font-weight: 700;
	color: #f15767;
}
.f_left p{
line-height: 25px;
margi
}
.f_right {
	width: 40%;
    float: right;
    
    text-align: left;
}
.f_right h1 {
	font-size: 40px;
	font-weight: 700;
}

/*feature end*/
/*service start*/
.service{
	padding-bottom: 70px;
}
.s_service{
	margin-right: 2.2%;
	width: 31.8%;
	float: left;
	padding: 50px 20px 60px;
	box-sizing: border-box;
}
.s_service:first-child{
background-color: #fdebed;
}
.s_service:nth-child(2){
background-color: #ebf9f4;
}
.s_service:last-child{
background-color: #fff7e8;
margin-right: 0;
}
.s_img{

}
.s_img img{
	width: 100%;
}
.s_h2{
	margin: 20px 0;
	padding: 0;
    font-size:20px ;
    font-weight: 700;
}
.s_p{
	margin: 0;
	padding: 0;
    line-height: 50px;
}
/*service end*/
/*footer start*/
footer{
	background-color: #008aff;
}
footer p{
	padding: 50px 0;
	color: white;
	text-align: center;
}
footer p a{
	color: white;
	font-size: 18px ;
	font-weight: 700;
	text-decoration: none;
	letter-spacing: 2px;
}
/*footer end*/
